/* navbar */
nav.topnavbar.my-2.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
  width: 1200px;
  margin: auto;
  border-radius: 18px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
  a.nav-link {
    text-decoration: none;
    color: white !important;
    font-weight: 600;
  }
  a.nav-link:hover {
    color: rgb(216, 216, 136) !important;
    border-bottom: 3px solid yellow;
  }
  
  /* txt box */
.textareabox{
  padding-top: 100px;
}
/* aboutus */
.aboutus{
  padding-top: 90px;
}
